
.index a{
    text-decoration: none;
    color:black;
}
.index {
margin:1em;
margin-bottom: 2em;
}
.question {
   font-size:1.5em;
   background:lightgray;
   margin:1em;


}
.answer {
    font-size:1em;
    margin:1em;
    background:lightgray;
}
form {
    margin:1em;
}
.tags a{
    font-size:1.3em;
    margin:1em;
    
}
.tags a:hover {
    background-color: aqua;
    text-decoration: none;
}
.tags{
    margin:2em;
}
