{% load static %}
<!DOCTYPE html> 
<html>
    <head>
      <meta charset="utf-8">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
            <link rel='stylesheet' href="{% static 'stackoverflow.css' %}" type="text/css">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
           
        <title>
            StackoverFlow
        </title>
    </head>
    <body>
      <h1 style="text-align: center; color: darkblue">STACKOVERFLOW</h1>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">StackoverFlow</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="{% url 'index' %}" >Home</a></li>
          <li><a href="{% url 'tags' %}">Explore</a></li>
          <li><a href="{% url 'new_question' %}">AddQuestion</a></li>
          <li>{% if user.is_authenticated %}
            <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
           {% else %}
           <a class="nav-item nav-link"  href="{% url 'login' %}">Login</a>
           {% endif %}</li>
        </ul>
      </div>
    </nav>
          {% block content %}
          {% endblock %}
    </body>
</html>