{% extends 'base.html' %}
{% block content %}
{% for question in questions %}
<div class="index"><a href="{% url 'question' pk=question.pk %}">{{question.title}}</a><br>posted by:{{question.author}}</div>

{% endfor %}
{% endblock %}