{% extends 'base.html' %}
{% block content %}
<h2>Add Your question</h2>
<form action="" method="POST" novalidate>
    {% csrf_token %}
    {{form.as_p}}
    <button type="submit">Add</button>
</form>
{% endblock %}