{% extends 'base.html' %}
{% block content %}
   <p class="question">Question:{{question.title}}<br>
{{question.description}}</p>
{% for answer in answers %}
<p class="answer"> Answer given by :{{answer.author}}<br>
    {{answer.answer}}</p>
{% endfor %}

<form action='' method='POST'>
        <div >Your Answer</div>
    {% csrf_token %}
    {{form.as_p}}
    <button type='submit'>Submit</button>
</form>
{% endblock %}